.resources {
  display: flex;
  flex-direction: column;
  /* поперечная ось теперь горизонтальная*/
  /* Для управления вертикальными изменениями элементов необходимо использовать align-items*/
  align-items: center;
  padding: 100px 0px 217px;
}
