.khan__quote {
  max-width: 790px;
  margin: 0;
  padding-top: 50px;
  /* размер шрифта */
  font-size: 24px;
  /* Высота строки */
  line-height: 34px;
  /* начертание шрифта */
  font-weight: normal;
}
