.logo_place_header {
  /* позиционируем абсолютно - значит родитель (header) должен иметь position:relative*/
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../../../images/logo_place_header.svg);
}
