.footer__column-link {
  color: white;
  /* размер шрифта */
  font-size: 18px;
  /* Высота строки  */
  line-height: 30px;
  /* начертание шрифта нормальное*/
  font-weight: normal;
  text-decoration: none;

  /* для CSS3-перехода */
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.6s;
}

/* Все ссылки на странице при наведении мыши должны плавно становиться немного прозрачными, подберите opacity и transition на свой вкус.
Смена свойств происходит при наступлении определенного события, которое может описываться, например, соответствующим псевдоклассом */

.footer__column-link:hover {
  opacity: 0.65;
}
