.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  /* размер шрифта */
  font-size: 36px;
  /* Высота строки */
  line-height: 51px;
  /* начертание шрифта */
  font-weight: normal;
  text-decoration: none;
}
