.section-title {
  /* 60% от окна */
  width: 60%;
  margin: 0;
  /* выравниваем текст заголовка по середине, h2 - это блок*/
  text-align: center;
  /* размер шрифта 102px */
  font-size: 60px;
  /* Высота строки 96px */
  line-height: 1.15;
  /* начертание шрифта полужирное*/
  font-weight: bold;
}
