.section-subtitle {
  /* 60% от окна */
  width: 60%;
  margin: 0;
  /* выравниваем текст заголовка по середине, h3 - это блок*/
  text-align: center;
  /* размер шрифта */
  font-size: 24px;
  /* Высота строки */
  line-height: 34px;
  /* начертание шрифта */
  font-weight: normal;
  /* чтобы title не налезал сверху */
  padding-top: 20px;
}
