.header {
  /*Цвет фона по брифу */
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  /* для позиционирования дочерних элементов*/
  position: relative;
  /* чтобы элементы в потоке вели себя гибко!*/
  display: flex;
  /* вертикальное центрирование элемента вдоль поперечной оси!*/
  align-items: center;
}
