.header__link {
  color: #2f80ed;
  text-decoration: none;

  /* для CSS3-перехода */
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.6s;
}

/* Все ссылки на странице при наведении мыши должны плавно становиться немного прозрачными, подберите opacity и transition на свой вкус.
Смена свойств происходит при наступлении определенного события, которое может описываться, например, соответствующим псевдоклассом */

.header__link:hover {
  opacity: 0.65;
}
