.techniques {
  width: 80%;
  /* хорошо известный способ? чтобы отцентрировать блочный элемент (с заданной шириной) по горизонтали */
  margin: auto;

  display: flex;
  flex-direction: column;
  /* поперечная ось теперь горизонтальная*/
  /* Для управления вертикальными изменениями элементов необходимо использовать align-items*/
  align-items: center;
  padding-top: 100px;
}
