/* Блок two-columns */
.two-columns {
  /* Раз две колонки, то пусть плавают вдоль лавной оси */
  display: flex;
  /* немного сузим относительно окна*/
  width: 80%;
  /* Используем space-between, чтобы распределить элементы вдоль оси */
  justify-content: space-between;
}
