/* оформляем бриф с тегом заголовка */
.two-columns__brief {
  width: 175px;
  /* чуть не попался - это не ссылка */
  color: #2f80ed;
  /* размер шрифта 102px */
  font-size: 18px;
  /* Высота строки 96px */
  line-height: 1.2;
  /* начертание шрифта нормальное - переопределяем h1!*/
  font-weight: normal;
  /* обнуляем внешние отступы*/
  margin: 0;
}
