.header__title {
  width: 730px;
  /* размер шрифта 102px */
  font-size: 102px;
  /* Высота строки 96px */
  line-height: 96px;
  /* начертание шрифта полужирное - наследуем из h1!*/
  /* это блок - а значит внешние отступы по БЭМ убираем! */
  margin: 0 0 0 64px;
  z-index: 4;
}
